
html, body {
	margin:0;
	padding:0;
	background-color: #303808; /* dark green */
}
html, body, ol, li, ul, nav, h2, h1, p {
	margin:0;
	padding:0;
}


/* Site Wide */

.entry-title {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	color: #000000;

}
h2.entry-title > a:link, h2.entry-title > a:active, h2.entry-title > a:visited {
	color: #000000;
	text-decoration: none;
	text-decoration-color: #000000;
}
h2.entry-title > a:hover {
	color: #000000;
	text-decoration: underline;
	text-decoration-color: #000000;
}

section#content > h2 {
	display: block;

	background-color: #C4B687; /* tan */

	border-style: solid;
	border-width: 0.5rem;
	border-radius: 0;
	border-color: #636E21; /* light green */

	width: 80%;

	padding: 0.3rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;

	font-family: sans-serif;
	
	}

/* Articles */ /* also used on the index */

article.entry, section.body#content {
	background-color: #C4B687;
	border-style: solid;
	border-width: 0.5rem;
	border-radius: 0;
	border-color: #636E21;

	padding: 0.3em;
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;

	font-family: sans-serif;
	font-size: 1.2rem;
}
footer.post-info {
	font-size: 0.7em;
	margin-bottom: 0.5rem;
}

/* Header */
header#banner {
	margin: 0.5rem;
}
header#banner > img {
	width: 100%;
}

/* Nav */
nav#menu > ul {
	display: flex;
	flex-wrap: nowrap;
	background-color: #636E21;
	font-family: Gill Sans, Gill Sans MT, Futura, sans-serif;
	padding: 0.4rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

nav#menu a {
	background-color: #C4B687;
	padding: 0.2em;
	margin-top: 0.3em;
	margin-bottom:0.3em;
	margin-right: 0.3em;
	margin-left: 0em;
	font-size: 1.2rem;
}

nav#menu a:link, nav#menu a:visited {
	text-decoration: none;
	text-decoration-color: #000000;
	color: #000000;

}

nav#menu a:hover {
	text-decoration: none;
	background-color: #D2EBEB;
	color: #000000;
}

nav#menu a:active {
	text-decoration: none;
	background-color: #BFBFBF;
	color: #000000;
}


/* Index */

li {
	list-style-type:none
}

